body {
    background-color: white;
}

p {
    margin-top: 0;
}

#container {
    display: flex;
    flex-direction: row-reverse;
}

#doc {
    border-right: 1px solid gray;
    padding: 20px;
    width: 75%;
}

#terms {
    background-color: white;
    color: black;
    padding: 50px;
    width: 20%;
}
