{% extends 'base/base.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" type="text/css" href="{% static 'topicterms/annotate.css' %}">
{% endblock %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="terms">
        <h1>Terms</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message" style="color:red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% url 'topicterms:record_annotation' document.id %}" method="post">
            {% csrf_token %}
            <ul style="list-style: none;">
                {% for term in terms %}
                    <li>
                        <input
                                type="checkbox"
                                name="terms"
                                id="{{ term.id }}"
                                value="{{ term.id }}"
                                {% if term in topic_terms %} checked {% endif %}>
                        <label for="{{ term.id }}">{{ term.term }}</label>
                    </li>
                {% endfor %}
            </ul>
            <button>Submit</button>
            <a href="{% url 'topicterms:skip_annotation' document.id %}">
                <button type="button" style="float:right;">
                    Skip
                </button>
            </a>
        </form>
    </div>
    <div id="doc">
        <h1>Document</h1>
        <p style="color: gray;">{{ document.docno }}</p>
        <div>
            {{ document.text|safe|linebreaks }}
        </div>
    </div>
</div>

<script type="text/javascript">
    var toggleCheckboxes = function() {
      var checked = $('input:checked').length;
      if (checked >= 10) {
        $('input[type=checkbox]:not(:checked)').prop('disabled', true);
      }
      if (checked < 10) {
        $('input[type=checkbox]:not(:checked)').prop('disabled', false);
      }
    }

    $('input[type=checkbox]').on('click', toggleCheckboxes);
</script>
{% endblock %}
