{% extends 'base/base.html' %}

{% block content %}
    <h1>Documents</h1>

    <div id="remaining-documents">
        <h2 class="document-list-header">Remaining documents</h2>
        <p class="remaining-count">{{ incomplete_docs|length }}/{{ document_list|length }} documents remaining</p>

        {% if not incomplete_docs %}
            <p class="no-items">If you have not hit the 5 hour work limit and would like more documents, please contact
                <a href="mailto:gsherma2@illinois.edu">Garrick Sherman</a>.</p>
        {% else %}
            {% with doc=incomplete_docs|first %}
                <a href="{% url 'topicterms:annotate' doc.document.id %}">
                    <button type="button" class="start-button">
                        Begin
                    </button>
                </a>
            {% endwith %}
        {% endif %}
    </div>

    <div id="skipped-documents">
        <h2 class="document-list-header">Skipped documents</h2>
        <p class="remaining-count">{{ skipped_docs|length }} skipped documents</p>

        {% if skipped_docs %}
            {% with doc=skipped_docs|first %}
                <a href="{% url 'topicterms:annotate' doc.document.id %}">
                    <button type="button" class="start-button">
                        Revisit
                    </button>
                </a>
            {% endwith %}
        {% endif %}
    </div>

    <div id="completed-documents">
        <h2 class="document-list-header">Completed documents</h2>
        <p class="remaining-count">{{ complete_docs|length }} completed documents</p>

        {% if complete_docs %}
            <ul style="columns:auto 5;">
                {% for doc in complete_docs %}
                    <li class="document-item">
                        <a href="{% url 'topicterms:annotate' doc.document.id %}">
                            {{ doc.document.docno }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
